* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
.side-bar {
	width: 250px;
	background: #262931;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
	background: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	
}


.section-1 {
	width: 100%;
	display: grid;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

.left{
	left: 0;
}

.right{
	right: 0;
}

.section-1 h1 {
	color: #fff;
	font-size: 60px;
}

.section-1 span {
	margin-top: 30px;
	display: inline-block;

}

.section-1 p {
	color: #000000;
	font-size: 20px;
	background: #fff;
	padding: 7px;
	border-radius: 5px;
}

.section-2 {
	width: 100%;
	background: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.section-2 h1 {
	color: #fff;
	font-size: 60px;
}
.section-2 p {
	color: #000000;
	font-size: 20px;
	background: #fff;
	padding: 7px;
	border-radius: 5px;
}

.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}

.text2 {
	color: #ffffff;
	font-size: 20px;
	background: rgb(0, 72, 103);
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	display: inline-block;
	margin: auto;
}

.text1 {
	color: #000000;
	font-size: 12px;
	background: rgb(255, 255, 255);
	padding: 7px;
	border-radius: 50px;
	text-align: center;
	margin: auto;
}

.section-2{
	font-size: 40px;
	text-align: center;
	color: #000000;
	display: flex;
}




/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }


  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: inherit;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #55585D;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
